html {
  width: 100%;
  font-size: 10px;
}
body {
  width: 100%;
  background-color: #F5F5F5;
}
.header {
  background-color: #ff8a00;
  width: 100%;
  height: 4.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 9.9rem;
  height: 2.9 rem;
  padding-left: 3.4rem;
}
.header .my {
  padding-right: 2rem;
  width: 2.3rem;
  height: 2.8 rem;
}
.header .xz {
  padding-right: 3.2rem;
  width: 2.3rem;
  height: 2.8 rem;
}
.seek {
  width: 100%;
  height: 22.4rem;
  background: url('../img/banner.png');
  background-size: 100% 22.4rem;
  display: flex;
  justify-content: center;
}
.seek div {
  border-radius: 1rem;
  margin-top: 19rem;
  width: 28.2rem;
  height: 2.8rem;
  border: 0.1rem solid #9A9A9A;
}
.seek div input {
  padding-left: 3rem;
  background: url('../img/seach.jpg') no-repeat 0.5rem 0.6rem;
  background-color: #fff;
  background-size: 1.6rem 1.5rem;
  border-radius: 1rem;
  width: 25.2rem;
  height: 2.8rem;
  border: 0.1rem solid #EBEBEB;
  box-shadow: 0 0.1rem 0.1rem 0.2rem #E0DFDF;
}
.dh {
  width: 100%;
  height: 11rem;
  background-color: #FF8A00;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.dh div img {
  width: 5.5rem;
  height: 5.5rem;
}
.dh div p {
  padding-top: 1rem;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  color: #fff;
}
.tu {
  margin-top: 1rem;
  width: 100%;
  height: 25rem;
  margin-bottom: 1rem;
}
.tu img {
  width: 100%;
  height: 25rem;
  background-size: 100% 25rem;
}
.fy {
  width: 100%;
  height: 6rem;
  background-color: #FF8A00;
  display: flex;
  flex-direction: column;
}
.fy p {
  padding-top: 1rem;
  padding-left: 2rem;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
}
.fy #fy {
  padding-top: 0.5rem;
  font-size: 1rem;
  color: #fff;
}
.introduce {
  width: 100%;
  background-color: #fff;
}
.introduce #introduce1 {
  border-bottom: none;
}
.introduce .introduce1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2rem;
  margin-top: 2.9rem;
  width: 28rem;
  border-bottom: 0.1rem solid #FF0000;
}
.introduce .introduce1 img {
  width: 8.1rem;
  height: 8.1rem;
  background-size: 81rem 81rem;
}
.introduce .introduce1 .house {
  padding-left: 1.2rem;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.introduce .introduce1 .house h1 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.introduce .introduce1 .house .yzjs {
  display: flex;
  flex-direction: row;
}
.introduce .introduce1 .house .yzjs div {
  display: flex;
  flex-direction: column;
}
.introduce .introduce1 .house .yzjs div p {
  padding-top: 0.5rem;
}
.introduce .introduce1 .house .yzjs div .cx {
  font-size: 1.1rem;
  color: #757575;
}
.introduce .introduce1 .house .yzjs div .dz {
  font-size: 1.1rem;
  color: #B1B1B1;
}
.introduce .introduce1 .house .yzjs div .jg {
  font-size: 1.1rem;
  color: #FFA740;
}
.introduce .introduce1 .house .yzjs .price {
  padding-left: 3.5rem;
}
.introduce .introduce1 .house .yzjs .price p {
  padding-top: 0.5rem;
}
.introduce .introduce1 .house .bq {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  margin-bottom: 2.3rem;
}
.introduce .introduce1 .house .bq span {
  text-align: center;
  line-height: 2rem;
  display: inline-block;
  width: 4.4rem;
  height: 2rem;
  font-size: 1.1rem;
  color: #849AAE;
  background-color: #F4F7F9;
  margin-right: 0.5rem;
}
.attention {
  width: 100%;
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.7rem;
  margin-top: 1rem;
  background-color: #fff;
}
.attention span {
  color: #B3B3B3;
}
.attention .sp1 {
  color: #FF8A00;
}
.hot {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 0.1rem solid #FF8A00;
  background-color: #fff;
  padding-bottom: 2rem;
}
.hot div p {
  color: #b3b3b3;
  font-size: 1.2rem;
  padding-top: 1.8rem;
}
.client-side {
  width: 100%;
  background-color: #2F3130;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client-side .room {
  height: 4rem;
  width: 29rem;
  font-size: 1.2rem;
  color: #939494;
  font-weight: 600;
  background-color: #2F3130;
  line-height: 4rem;
}
.client-side .client {
  width: 29rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.1rem solid #3E403F;
}
.client-side .client .phone {
  width: 50%;
  display: flex;
  margin-top: 1rem;
}
.client-side .client .phone div p {
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  font-size: 1.1rem;
  color: #858686;
}
.client-side .add {
  width: 29rem;
  margin-top: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client-side .add p {
  font-size: 1.2rem;
  color: #939494;
}
.location {
  width: 100%;
  height: 4rem ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
}
.location img {
  width: 3rem;
  height: 3rem;
  padding-top: 0.5rem;
}
.location .di1 .p1 {
  font-size: 1.7rem;
  color: #fff;
}
.location .di1 .p2 {
  font-size: 1.2rem;
  color: #fff;
}
.location .di2 {
  margin-right: -1.4rem;
  width: 10rem;
  text-align: center;
  line-height: 4rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #FF8A00;
}
